.fondosayuda {
    background-color: none;
    color: #000000;
}

.fondoayudaproceso{
    background-image:url(../img/florfondoblanco.webp);
    width: 100%;
    background-size: 100%;
    color: #000000;
    font-weight: 500;
}

.fondoayudapago{
    background-image: url(../img/rosascerca.jpeg);
    width: 100%;
    background-size: 100%;
    color: #000000;
    font-weight: 600;
    background-position: center;
}

.fondoayudaenvio{
    background-image: url(../img/aroflores.jpeg);
    width: 100%;
    background-size: 100%;
    color: #000000;
    font-weight: 600;
    background-position: center;
}

.fondoayudaaspectos{
    background-image: url(../img/ramo.webp);
    width: 100%;
    background-size: 100%;
    color: #000000;
    font-weight: 600;
    background-position: center;
}
